#login-container{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #121B2D, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #121B2D, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-grad {background-image: linear-gradient(to right, #314755 0%, #2c7ba0  51%, #314755  100%)}
.btn-grad {
   margin: .5rem;
   padding: .5rem 2.5rem;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 30px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

